<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2018 Kristoffer Solomon
  ~
  ~ This file is part of MaterialTimer.
  ~
  ~ MaterialTimer is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MaterialTimer is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MaterialTimer.  If not, see <http://www.gnu.org/licenses/>.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kristoffersol.materialtimer">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LightAppTheme">
        <activity
            android:name="com.kristoffersol.materialtimer.TimerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kristoffersol.materialtimer.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.kristoffersol.materialtimer.TimerActivity">
        </activity>

        <receiver
            android:name="com.kristoffersol.materialtimer.TimerReceiver">
        </receiver>

        <service
            android:name="com.kristoffersol.materialtimer.TimerService"
            android:exported="false">
        </service>

    </application>
</manifest>